<div class="app-header">
  <img src="/assets/logo.png" class="logo" alt="logo" style="margin-bottom: -10px"/>
  <div class="info">
    <span class="badge" [matBadge]="total | async" matBadgeOverlap="false" MatBadgeSize="medium">Total</span>
    <span class="badge" [matBadge]="filtered | async" matBadgeOverlap="false" [matBadgeColor]="'warn'">Filtered</span>
    <button
      mat-flat-button
      color="primary"
      (click)="sendSelection()"
      class="send-button"
      [disabled]="(likes | async) === 0">
      <mat-icon>send</mat-icon>
      Send selection
      <span class="likes-total">{{likes | async}}</span>
    </button>
  </div>
  <h1 class="folder-name" *ngIf="(folderList | async) as fl" [matMenuTriggerFor]="menu">{{folderName}}
    <button *ngIf="fl.length > 1" mat-icon-button>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </h1>

  <mat-menu #menu="matMenu" xPosition="before">
    <button
      mat-menu-item
      *ngFor="let folder of folderList | async" [value]="folder.id"
      (click)="onFolderChange(folder.id)"
    >
      {{folder.name}}
    </button>
  </mat-menu>
<!--  <button mat-icon-button><mat-icon>menu</mat-icon></button>-->
  <app-filter-menu></app-filter-menu>
</div>
