@import "../../../styles/mixins";
@import "../../../styles/vars";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.app-header {
  background-color: $main-bg-color;
  height: $header-height;
  width: 100%;
  text-align: center;
  color: #bbb;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  box-shadow: $shadow-color 10px 10px 30px;
  position: relative;

  @include on-mobile {
    height: $header-height-mobile;
    text-align: left;
  }

  .logo {
    height: 170px;
    @include on-mobile {
      height: 85px;
    }
  }

  .folder-name {
    width: fit-content;
    margin: auto;
    @include on-mobile {
      font-size: 18px;
      margin: 0 0 0 30px;
    }
  }

  .info {
    text-align: right;
    margin-right: 20px;
    padding-bottom: 24px;
    display: grid;
    width: 200px;
    height: inherit;
    position: absolute;
    top: 0;
    right: 0;
    align-content: end;
    @include on-mobile {
      margin: 0;
      top: initial;
      bottom: 0;
      width: auto;
      padding-bottom: 16px;
    }

    .badge {
      margin: 5px;
      padding: 1px 48px 16px;
      @include on-mobile {
        padding: 2px 48px 3px;
        font-size: 14px;

      }

      .mat-badge-content {
        width: 26px;
        height: 26px;
        line-height: 26px;
        top: -2px;
        right: 8px;
      }
    }

    .send-button {
      @include on-mobile {
        width: 155px;
        text-align: left;
        margin: 2px 5px 0 0;
      }

      mat-icon {
        position: absolute;
        left: 10px;
        top: 5px;
        @include on-mobile {
          display: none;
        }
      }

      .likes-total {
        position: absolute;
        right: 10px;
        top: 5px;
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        $size: 24px;
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        color: $them-purple;
        background-color: #ffffff;
        border-radius: 50%;
      }
    }
  }

  app-filter-menu {
    @include on-mobile {
      display: none;
    }
  }
}
