
$page-width: 90%;
$header-height: 250px;
$header-height-mobile: 124px;

$main-bg-color: #f3f3f2;
$shadow-color: lightgrey;
$badge-red: #f44336;
$pale-red: #fa7b72;
$link: royalblue;

$success-color: darkgreen;
$error-color: #b7392e;
$dark-text: #8f8f8f;
$them-purple: #673ab7;
